
<div class="nik-footer">
  <div class="container">
    <div class="nik-footer__container">
      <div class="row row--valign-bottom">
        <div class="col col--6">
          <div class="nik-footer__camera">
            <img src="{{site.img}}/nikon/nikon-z7.png" width="100%">
          </div>
        </div>
        <div class="col col--6 nik-footer__text">
          <span class="title title--xxxs text--upper text--wide-kern text--medium">CAPTURE TOMORROW</span>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="nik-footer__bottom">
  <div class="container">
    <div class="row row--constant-6-6">
      <div class="col">
        <img src="{{site.img}}/nikon/nikon-z7-logo.png" class="nik-footer__z7-logo">
      </div>
      <div class="col text--right">
        <img src="{{site.img}}/logo/partner.svg" class="nik-footer__logo">
      </div>
    </div>
  </div>
</div>