{% capture pageurl %}
http%3A//www.secretescapes.com/nikon/{% unless page.id == 'overview' %}{% if page.group %}{{page.group}}/{% endif %}{{page.id}}{% endunless %}{% endcapture %}


<div class="sharing">
  <a href="javascript:void(0);" class="sharing__toggle">
    <img src="{{site.baseurl}}/img/icons/share.png" class="sharing__toggle-img js-svg-swap" alt="Share this page">
  </a>
  <ul class="sharing__options">
    <li class="sharing__option">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{pageurl}}">
        <img src="{{site.baseurl}}/img/icons/share-facebook.png" alt="Facebook" class="js-svg-swap">
      </a>
    </li>
    <li class="sharing__option">
      <a href="http://twitter.com/share?url={{pageurl}}">
        <img src="{{site.baseurl}}/img/icons/share-twitter.png" alt="Twitter" class="js-svg-swap">
      </a>
    </li>
    <li class="sharing__option">
      <a href="mailto:?subject=Think you might find this website really interesting!&body=Look at this great travel photography site I found: {{pageurl}}">
        <img src="{{site.baseurl}}/img/icons/share-mail.png" alt="Mail" class="js-svg-swap">
      </a>
    </li>
  </ul>
</div>