
$font-family:             'Open Sans', 'Helvetica Neue', sans-serif;
$font-family-headline-01: 'Montserrat', 'Helvetica Neue', sans-serif;
$font-family-headline-02: 'Montserrat', 'Helvetica Neue', sans-serif;

html { font-size: 92.5%; } // = 14px – This is the root size for REM

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: .0143em;
  -webkit-text-size-adjust: 100%;
  color: $text;
}
