// general styles for the project that wouldn't be a reuseable component

.bg {
  &--white      { background-color: $white; }
  &--light-grey { background-color: $grey-lightest; }
  &--grey-dark { background-color: $grey-dark; }
  &--grey-darker { background-color: $grey-darker; }
  &--grey-darkest { background-color: $grey-darkest; }

  &--theme { background-color: $theme-primary; }
  &--theme-primary { background-color: $theme-primary; }
  &--theme-secondary { background-color: $theme-secondary; }
}



.sharing {
  z-index: 9999;
  position: fixed;
  bottom: 0; left: 0;
  padding: $s2;
  &__toggle {
    @include transition();
    display: block;
    overflow: hidden;
    text-align: center;
    width: 48px; height: 48px;
    border: 2px solid $white;
    border-radius: 999em;
    padding: 9px 0;
    float: left;
    margin-right: 6px;
    &:hover { border: 3px solid $white; padding: 8px 0; }
    &-img { width: 18px; display: inline-block; }
  }
  &__options {
    float: left;
  }
  &__option {
    @include transition();
    display: inline-block;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    width: 36px; height: 36px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: -36px;
  }

  &:hover {
    .sharing {
      &__option { opacity: 1; margin-left: 3px; }
    }
  }
}



.section {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  .touch & { background-attachment: scroll; }
}



.intro {
  background-color: $grey-darker;
  color: $text-white;
  & .title { color: $text-white; }

  &--guide {
    background-color: $white;
    color: $text;
    & .title { color: $headline; }
  }

  &--video {
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    .touch & { background-attachment: scroll; }

    padding-bottom: $s13;
    &:after {
      content: "";
      height: $s14;
      width: 100%;
      position: absolute;
      bottom: 0; left: 0; right: 0;
      background-image: url('../img/icons/gradient--grey-darkest.png');
      background-size: auto 100%;
      background-repeat: repeat-x;
      background-position: bottom;
    }
  }

  &__content {
    position: relative;
    z-index: $z-content-upper;
    &:before {
      content: "";
      background-color: $theme-primary;
      height: 2px;
      position: absolute;
      top: -2px;
      left: 0;
      right: 0;
      margin-left: $s2;
      margin-right: $s2;
      @include bp(md){
        margin-left: $s4;
        margin-right: $s4;
      }
    }
  }

  &__expert {
    position: relative;
    padding: 0.5em 1.5em 1em;
    &__title { position: absolute; top: -0.5em; left: 3em; }
    &:before, &:after {
      content: "";
      position: absolute;
      height: 30px; width: 30px;
      background-size: cover; background-repeat: no-repeat; background-position: center;
    }
    &:before {
      top: 0; left: 0;
      background-image: url('../img/icons/frame-tl.png');
      .svg & { background-image: url('../img/icons/frame-tl.svg'); }
    }
    &:after {
      bottom: 0; right: 0;
      background-image: url('../img/icons/frame-br.png');
      .svg & { background-image: url('../img/icons/frame-br.svg'); }
    }
  }

  &__video {
    z-index: $z-content-upper;
    margin-top: -8em;
  }

}



.video {
  &__link {}
  &__icon { width: 35%; max-width: 160px; max-height: 160px; }
}



.competition-promo {
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}




.testimonials {
  position: relative;
  &__carousel {
    position: relative;
  }
  &__slide {
    background-position: center;
    background-size: cover;
    min-height: 500px;
    padding: $s10 0;
    .flexbox & {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }
}




.ig-post {
  @include transition();
  margin-bottom: $s4;
  border-radius: 3px;
  overflow: hidden;
  background-color: $grey-darkest;
  transform: scale(1);
  box-shadow: 0;
  &:hover {
    transform: scale(1.025);
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.33);
  }

  &__image {}
  &__icon {
    width: 16px;
    vertical-align: middle;
    margin-right: 0.25em;
  }
  &__content {
    margin-top: 0;
    padding: $s1 $s2;
  }
}





// COMPETITION PAGE

.prize {
  @include layout(12 1/2);
  text-align: center;
  &__image {
    max-width: $lg;
    margin-left: auto;
    margin-right: auto;
  }
  &__text { padding-bottom: $s2; }
  & + & { margin-top: $s4; }
  @include bp(xxl){
    text-align: left;
    &__text { padding-top: $s2; }
    // GRID STUFF
    & + & { margin-top: gutter(6); }
    .flexbox & {
      display: flex;
      align-items: center;
    }
    &__image { @include span(5); }
    &__text {
      @include span(7 last);
      padding-bottom: 0;
    }
    &:nth-child(even),
    &.prize--swap {
      .prize__image { @include span(5 last); }
      .prize__text { @include span(7); }
      .flexbox & {
        flex-direction: row-reverse;
      }
    }
    // END GRID STUFF
  }
}




.countdown {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 2em;
  margin-bottom: 1em;
  &__item {
    display: inline-block; width: 20%;
    text-align: center;
  }
  &__num {
    font-size: $s9;
    font-weight: 200;
    line-height: 1;
    display: inline-block;
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: rgba($black,.2);
    box-shadow: 0 0 50px 0px rgba($white,.2);
  }
}