// general styles for the project that wouldn't be a reuseable component

.bg {
  &--white      { background-color: $white; }
  &--light-grey { background-color: $grey-lightest; }
  &--grey-dark { background-color: $grey-dark; }
  &--grey-darker { background-color: $grey-darker; }
  &--grey-darkest { background-color: $grey-darkest; }

  &--theme { background-color: $theme-primary; }
  &--theme-primary { background-color: $theme-primary; }
  &--theme-secondary { background-color: $theme-secondary; }
}

.section {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  .touch & { background-attachment: scroll; }
}



.intro {
  background-color: $grey-darker;
  color: $text-white;
  & .title { color: $text-white; }

  &--guide {
    background-color: $white;
    color: $text;
    & .title { color: $headline; }
  }

  &__content {
    position: relative;
    &:before {
      content: "";
      height: 2px;
      position: absolute;
      z-index: $z-content;
      top: -2px;
      left: 0;
      right: 0;
      margin: 0 2.25rem;
      background-color: $theme-primary;
    }
  }

  &__expert {
    position: relative;
    padding: 0.5em 1.5em 1em;
    &__title { position: absolute; top: -0.5em; left: 3em; }
    &:before, &:after {
      content: "";
      position: absolute;
      height: 30px; width: 30px;
      background-size: cover; background-repeat: no-repeat; background-position: center;
    }
    &:before {
      top: 0; left: 0;
      background-image: url('../img/icons/frame-tl.png');
      .svg & { background-image: url('../img/icons/frame-tl.svg'); }
    }
    &:after {
      bottom: 0; right: 0;
      background-image: url('../img/icons/frame-br.png');
      .svg & { background-image: url('../img/icons/frame-br.svg'); }
    }
  }

  &__video {
    margin-top: -8em;
    z-index: $z-content-upper;
  }

}




.photographer {
  overflow: hidden;
  vertical-align: middle;
  &-image {
    display: inline-block;
  }
  &-title {
    display: inline-block;
    padding: 0.5em 1em;
  }
  &__title {
    width: 100%; display: block;
    cursor: pointer;
  }
  &__content {
    padding-top: 2em;
    width: 100%; display: block;
  }
}


/* ==========================================
   JOURNEY PAGE
   ======================================== */

.journey {

  &__title {
    &-meta {
      margin-bottom: 1em;
      &-icon { max-width: 28px; max-height: 28px; }
    }
    &-content {
      position: relative;
      padding-left: 7em;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 1.25em;
        width: 5em;
        height: 2px;
        background-color: #ffffff;
      }
    }
  }

  &__photo {
    @include layout(12 0);
    &__image {
      max-width: $xl;
      margin-left: auto;
      margin-right: auto;
    }
    &__content {
      padding: $s2 $s4;
    }
    &__map { display: none; }

    & + & { margin-top: $s4; }

    @include bp(xxl){
      & + & { margin-top: $s8; }
      .flexbox & {
        display: flex;
        align-items: center;
      }
      &__image { @include span(7); }
      &__content {
        @include span(5 last);
      }
      &__map {
        display: block;
        position: relative;
        margin-top: $s2;
        &:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 50%;
        }
        &-inner {
          position: absolute;
          height: 100%;
          left: -($s2*2.5);
          top: 0;
          right: 0;
        }
      }
      &:nth-child(odd){
        .journey__photo__image { @include span(7 last); }
        .journey__photo__content { @include span(5); }
        .journey__photo__map-inner { left: 0; right: -($s2*2.5); }
        .flexbox & {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
        }
      }
    } // end media query

    &--portrait {
      @include bp(lg){
        & .journey__photo__image { @include span(5); }
        & .journey__photo__content { @include span(7 last); }
        &:nth-child(odd){
          .journey__photo__image { @include span(5 last); }
          .journey__photo__content { @include span(7); }
        }
      }
    }

    &--large {
      .flexbox & {
        display: block;
        align-items: center;
      }
      @include bp(lg){
        & .journey__photo__image { @include span(12); max-width: 100%; }
        & .journey__photo__content { @include span(12); }
        & .journey__photo__text {
          @include span(7);
          padding-right: $s2;
        }
        & .journey__photo__map {
          @include span(5 last);
          margin-top: -($s2*2.5);
          &-inner {
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
          }
        }
      }
    }

  }

}



.gm-style-cc {
  opacity: 0.7;
  & * { background-color: white; color: $grey-dark !important; }
}