---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import

  // plugins
  '../node_modules/reset-css/_reset',
  '../node_modules/susy/sass/susy',

  // core
  'core/core',
  'core/bg-img',
  'core/owl-carousel',

  // typography
  'typography/styles',

  // grid
  'grid/spacing',

  // navigation
  'nav/core-nav',
  'nav/microsite-nav',
  'nav/page-nav',

  // page
  'page/footer',
  'page/banner',
  'page/journey',

  // components
  'components/logos',
  'components/icons',
  'components/buttons',
  'components/modal',
  'components/offer',
  'components/poi',

  // general
  'styles'

;