// using background images for easy cropping and aspect ratio chaning

@mixin ratios() {
  &9-21:before  { padding-top: 233.33333333%; }
  &9-16:before  { padding-top: 177.77777778%; }
  &2-3:before   { padding-top: 150%; }
  &3-4:before   { padding-top: 133.33333333%; }
  &1-1:before   { padding-top: 100%; }
  &4-3:before   { padding-top: 75%; }
  &3-2:before   { padding-top: 66.666666667%; }
  &16-9:before  { padding-top: 56.25%; }
  &21-9:before  { padding-top: 42.8571429%; }
  &circle       { border-radius: 9999999em; }
}

.bg-img {
  display: block;
  position: relative;
  overflow: hidden;
  @include background-attributes();
  &:before {
    display: block;
    content: "";
    width: 100%;
  }
  & + * { margin-top: $s1; }
  &-- { @include ratios; }
}



// optional - allows more control to change the ratio on screen width

.bg-img {
  @include bp(sm) { &--sm- { @include ratios; } }
  @include bp(md) { &--md- { @include ratios; } }
  @include bp(lg) { &--lg- { @include ratios; } }
  @include bp(xl) { &--xl- { @include ratios; } }
  @include bp(xxl) { &--xxl- { @include ratios; } }
  @include bp(xxxl) { &--xxxl- { @include ratios; } }
}



// styles for adding titles, links and hover effects for .bg-image

.bg-img {
  // Vertically centered content in bg-image
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-overlay;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-content-upper;
    width: 100%;
    color: $white;
    text-align: center;
    .csstransforms.csstransforms3d & {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    @include background-attributes;
    background-image: url(../img/img.jpg);
    opacity: .5;
    @include transition();
  }
  &:hover &__bg{ opacity: .6 }
  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: $z-content-upper;
    color: $white;
    background-color: rgba($grey-darker,0.8);
    text-align: left;
    padding: 0.66em 1em;
  }

  &.js-open-modal.photo {
    &:after {
      @include transition();
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-content-upper;
      color: $white;
      background-color: rgba($grey-darker,0.8);
      text-align: center;
      height: 40px; width: 40px;
      background-image: url('../img/icons/icon-expand.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
      .svg { background-image: url('../img/icons/icon-expand.svg'); }
    }
    &:hover:after { background-color: rgba($grey-darker,1); }
  }


  // quick styles
  &--rounded { border-radius: 4px; }
  &--circle { border-radius: 9999em; overflow: hidden; }
  &--shadow { box-shadow: 0 0 10px 5px rgba($grey-darkest,0.2); }
}
