

/*=====================================
 VARIABLES & MIXINS
=====================================*/

// breakpoints

$xxxl: 1200px;
$xxl:  970px;
$xl:   800px;
$lg:   650px;
$md:   450px;
$sm:   330px;

@mixin bp($width){
  @if $width == xxxl { @media (min-width:$xxxl) {@content;} }
  @if $width == xxl  { @media (min-width:$xxl)  {@content;} }
  @if $width == xl   { @media (min-width:$xl)   {@content;} }
  @if $width == lg   { @media (min-width:$lg)   {@content;} }
  @if $width == md   { @media (min-width:$md)   {@content;} }
  @if $width == sm   { @media (min-width:$sm)   {@content;} }
  @else              { @media (min-width:$width){@content;} }
}

@mixin bp-vertical {
  @media (max-height:$md) and (max-width:$lg) { @content; }
}

// colours

$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #626569;
$grey-dark:      #202426;
$grey-darker:    #15181b;
$grey-darkest:   #0c0d0e;
$black:          #000000;
$orange-lighter: #feddb7;
$orange-light:   #fdbe77;
$orange:         #ff8c00;
$orange-dark:    #e67812;
$orange-darker:  #d66000;

$headline:    $grey-darker;
$text:        $grey;
$text-dark:   $grey-darkest;
$text-light:  $grey-light;
$text-white:  $grey-lightest;

$theme-primary: #ffe600;
$theme-secondary: #000000;

// units scale used for everything, type, sizes, spacing, etc
// http://www.modularscale.com/?14,16&px&1.5

$s0:  1rem;

$s1:  $s0*1.2;
$s2:  $s1*1.2;
$s3:  $s2*1.2;
$s4:  $s3*1.2;
$s5:  $s4*1.2;
$s6:  $s5*1.2;
$s7:  $s6*1.2;
$s8:  $s7*1.2;
$s9:  $s8*1.2;
$s10: $s9*1.2;
$s11: $s10*1.2;
$s12: $s11*1.2;
$s13: $s12*1.2;
$s14: $s13*1.2;
$s15: $s14*1.2;
$s16: $s15*1.2;

$s-1: $s0*0.9;
$s-2: $s-1*0.9;
$s-3: $s-2*0.9;
$s-4: $s-3*0.9;
$s-5: $s-4*0.9;
$s-6: $s-5*0.9;

// z-index

$z-overlay-upper:   30;
$z-overlay:         25;
$z-nav-upper:       20;
$z-nav:             15;
$z-content-overlay: 10;
$z-content-upper:   5;
$z-content:         0;
$z-background:      -1;



/*=====================================
 STANDARD CLASSES FOR EASY DEVELOPMENT
=====================================*/

// enable 100% height
body, html {
  height: 100%;
  background-color: $grey-darkest;
}

.site__content { height: 100%; }

// global box-sizing & font smoothing
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// responsive images
img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

// sharpens resized pngs - stops fuzzy logos mainly
img[src$=".png"] {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

// controls size image once swapped with svg
.js-svg-swap { max-width: 100%; width: 100%; }

// general transisition
$transition-time: .25s;
@mixin transition() { transition: all $transition-time ease; }

// general shadow
@mixin shadow() { box-shadow: 0px 8px 44px 0px rgba($black, .15); }
.shadow { @include shadow; }

// standard bg position, repeat, etc
@mixin background-attributes {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}

// remove deafult link style
a { color: inherit; text-decoration:none; }

// generic center element
.center { margin-left: auto; margin-right: auto; }

// text selection
::selection {
    background-color: $grey-darkest;
    color: $theme-primary;
}