---
layout: default
id: holidays
title: Holidays
nav-order: 6

banner:
  title-super:
  title: Photogenic<br />Escapes
  title-sub: Brought to you by Secret Escapes

intro: >
  <p class="text--xl text--bold">Start planning your own adventure, with enviable getaways to three enigmatic destinations.</p>
  <p class="text--lg">Feeling inspired by our journey to Iceland, Morocco and New York? Browse luxurious breaks in all three destinations to start planning your very own photographic escape. Each break includes your very own destination-specific photography guide, making sure you get the best out of your photographic escape. You’ll also have the opportunity to have all your photos from your break printed into a photobook, so you can treasure your getaway forever.</p>

---
{% assign photos = site.data.iceland | concat: site.data.morocco | concat: site.data.new-york %}



{% include page/intro.html %}



<section class="section">
  <div class="row offers">
    {% assign offers = site.data.offers | sort: 'saved' | reverse %}
    {% assign offer-type = include.type %}

    {% for offer in offers %}
      {% include components/offer.html theme="dark" %}
    {% endfor %}

  </div>
</section>



<section class="section offer-promo">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/03.jpg')"></div>
  </div>
  <div class="row row--xl offer-promo__content text--white text--center">
    <h2 class="title title--lg">That’s not all we do...</h2>
    <p class="text--lg">Didn’t see anything to take your fancy? Well, we have loads more offers with savings of up to 70%!</p>
    <a href="https://www.secretescapes.com/current-sales" class="btn btn--orange">See All Current Sales</a>
  </div>
</section>
