// main footer for the microsite



.site-footer {

  &__wrap {
    @include page-padding;
    padding-top: $s6;
    padding-bottom: $s6;
    color: $grey-lighter;
    font-weight: 400;
    text-align: center;
    background-color: $black;
  }

  // spacing for multiple logos in site footer
  .logo { margin: $s-2; }

  // white background for footer. Transparent colours will appear as block colours
  position: relative;
  background-color: $white;
  //////////////////////////////////////////////////////////////////////////////

}

.footer {
  position: relative;
  width: 100%;
}

.nik-footer {
  position: absolute;
  left: 0; right: 0;
  top: -40px;
  height: 40px;
  color: $nikon-yellow;
  &__text {
    text-align: right;
    padding-bottom: 10px;
  }
  &__line-container {
    position: absolute;
    bottom: 0; left: 0; right: 0;
  }
  &__line {
    height: 2px; width: 100%;
    background-color: $nikon-yellow;
  }
  &__line:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 2px; width: 100%;
    background-color: $nikon-yellow;
  }
}


