// main footer for the microsite



.site-footer {

  &__wrap {
    @include page-padding;
    padding-top: $s1;
    padding-bottom: $s1;
    color: $grey-lighter;
    font-weight: 400;
    text-align: center;
    background-color: $black;
  }

  // spacing for multiple logos in site footer
  .logo { margin: $s-2; }

}

.footer {
  position: relative;
  width: 100%;
}

.nik-footer {
  position: relative;
  background-color: $black;
  padding-top: 30px;
  background-image: url('../img/nikon/nikon-footer.jpg');
  @include background-attributes;

  &__container {
    position: relative;
    border-bottom: 2px solid $nikon-yellow;
    &:before {
      content: "";
      position: absolute;
      left: 0; bottom: -2px;
      height: 2px; width: 100%;
      background-color: $nikon-yellow;
      @include bp($lg){
        left: -50%;
      }
    }
  }
  &__bottom {
    padding-top: 30px;
    background-color: $black;
  }

  &__content {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.44rem;
    padding-right: 1.44rem;
  }

  &__text {
    text-align: center;
    padding-bottom: 10px;
    color: $nikon-yellow;
    @include bp($lg){
      text-align: right;
    }
  }
  &__camera {
    position: relative;
    z-index: 1;
    width: 160px;
    margin: auto;
    vertical-align: bottom;
    @include bp($lg){
      display: inline-block;
      margin-bottom: -10px;
      width: 200px;
    }
  }

  &__z7-logo {
    width: 30%;
    max-width: 80px;
  }

  &__logo {
    width: 30%;
    max-width: 70px;
  }

}


