// general modifier styles for text

.text {
  // sizes
  &--xxxl { font-size: 1.1rem; line-height: 1.6; letter-spacing: 0; }
  &--xxl { font-size: 1.1rem; line-height: 1.6; letter-spacing: 0; }
  &--xl  { font-size: 1.1rem; line-height: 1.6; letter-spacing: 0; }
  &--lg  { font-size: 1.05rem; letter-spacing: 0; }
  &--sm  { font-size: .8rem; }
  @include bp($lg) {
    &--xxxl { font-size: 1.3rem; line-height: 1.6; letter-spacing: 0; }
    &--xxl { font-size: 1.2rem; line-height: 1.6; letter-spacing: 0; }
  }

  // styles
  &--italic       { font-style: italic; }
  &--light        { font-weight: 300; }
  &--normal       { font-weight: 400; }
  &--medium       { font-weight: 500; }
  &--bold         { font-weight: 600; }
  &--bolder       { font-weight: 700; }
  &--wide-kern    { letter-spacing: .25em; }
  &--wide-kern-lg { letter-spacing: .5em; }
  &--upper        { text-transform: uppercase; }

  // colours
  &--white { color: $white; }
  &--black { color: $grey-dark; }

  // alignment
  &--left   { text-align: left; }
  &--right  { text-align: right; }
  &--center { text-align: center; }
  @include bp($lg) {
    &--bp-left   { text-align: left; }
    &--bp-right  { text-align: right; }
    &--bp-center { text-align: center; }
  }
}



blockquote {
  margin: 0.5em 0;
  @include bp(lg) {
    margin: 0.5em 0 0.5em 1.5em;
    float: right;
    width: 50%;
  }
  & p {
    display: block;
    margin: $s0 0;
    padding-left: 1em;
    border-left: 1px solid rgba($grey-darkest,0.2);
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
  }
}