<div class="modal__content modal__content--landscape text--white">

  <!-- PHOTO -->
  <div class="modal__content__img bg-img bg-img--16-9" style="background-image:url({{site.baseurl}}/img/content/{{item.page}}/photos/{{item.id}}.jpg);')"></div>

  <!-- TITLE -->
  <div class="modal__content__title">
    <h3 class="title title--sm title--bolder title--upper">{{item.title}}</h3>
    {% if include.type == "single" %}
      <a href="{{site.baseurl}}/{{item.page}}/the-journey/" class="modal__content__title-cta btn btn--primary btn--sm">Get behind the lens</a>
    {% endif %}
  </div>

  <!-- CONTENT -->
  <div class="modal__content__text row row--6-6-gutters row--valign">

    <div class="col modal__content__text-description">
      <h5 class="title">
        <span class="modal__content__text-photographer bg-img--circle">
          <img src="{{site.baseurl}}/img/content/{{item.page}}/photographer-{{item.photographer|slugify}}.jpg" alt="">
        </span>
        Photo by <span class="title--bold">{{item.photographer}}</span>
      </h5>
      <p>{{item.content}}</p>
    </div>

    <div class="col modal__content__text-details">
      {% include modal/components/photo-details.html %}
    </div>

  </div>

</div>