<div class="modal__content">

  <div class="modal__content__img modal__content__img--{{item.orientation}}">
    <img src="{{site.baseurl}}/img/content/{{item.page}}/photos/{{item.id}}.jpg" alt="{{item.title}}">
  </div>

  <div class="modal__content__title text--white">
    <h3 class="title title--xxs">
      <span class="title--bold">{{item.title}}</span>
      <span class="modal__content__text-photographer bg-img--circle">
        <img src="{{site.baseurl}}/img/content/{{item.page}}/photographer-{{item.photographer|slugify}}.jpg" alt="">
      </span>
      By {{item.photographer}}
    </h3>
  </div>

  <div class="modal__content__text text--white">
    <div class="modal__content__text-btn accordion__trigger" data-target="{{item.id}}-content"></div>
    <div class="modal__content__text-content accordion accordion--open" id="{{item.id}}-content">
      {% if item.content %}
      <p>{{item.content}}</p>
      <hr>
      {% endif %}
      {% include modal/components/photo-details.html %}
    </div>
  </div>

</div>