

<section class="banner banner--article banner--nav-top">


  {% include banner/components/nav.html %}


  <div class="banner__content">
    <div class="banner__content-wrap row row--padding">
      <div class="banner__content-col {% if page.layout == 'journey' %}text--white{% endif %}">

        <!-- Breadcrumbs -->
        {% assign parent-page = site.html_pages | where:"id", page.group %}
        <span class="banner__content-breadcrumbs title title--xxxs title--upper title--kerning">
          <a href="{{site.baseurl}}/{{page.group}}" class="title title--bold title--kerning">{% for parent in parent-page %}{{parent.title}}{% endfor %}</a>
          {{page.title}}
        </span>

        <hr>

        {{page.banner.content}}

        <hr>

        {% for photographer in page.photographers %}
          <div class="photographer">
            <div class="photographer__title accordion__trigger" data-target="{{photographer.title|slugify}}-content">
              <img src="{{site.baseurl}}/img/content/{{page.group}}/photographer-{{photographer.title|slugify}}.jpg" width="40" class="photographer-image bg-img--circle">
              <span class="photographer-title">
                <h4 class="title title--bold">
                  <span class="title--xxs">{{photographer.title}}</span>
                  <span class="photographer-subtitle">{{photographer.subtitle}}</span>
                </h4>
              </span>
            </div>
            <div class="photographer__content accordion" id="{{photographer.title|slugify}}-content">
              <p>{{photographer.content}}</p>
            </div>
          </div>
          <hr>
        {% endfor %}

        {% if page.layout == 'journey' %}

          {% capture firstItem %}{% for section in page.sections limit:1 %}{% for item in section.items limit:1 %}{{item.id}}{% endfor %}{% endfor %}{% endcapture %}

          <a href="#journey-start" class="btn btn--sm btn--primary">Start the journey</a>
          <a href="javascript:void(0);" class="btn btn--sm btn--outline js-open-modal" data-modal-group="page" data-modal-item="{{firstItem}}">View the gallery</a>
        {% else %}
          <a href="#guide-start" class="btn btn--sm btn--outline">Read the guide</a>
        {% endif %}

      </div>
    </div>
  </div>


  {% include banner/components/photo-meta.html %}


  {% include banner/components/background.html %}


</section>


{% if page.sections %}
{% include page/page-nav.html %}
{% endif %}