

<section class="banner{% if page.id == 'overview' %} banner--nav-bottom{% else %} banner--nav-top{% endif %}">

  {% if page.layout == "group" %}
    {% include banner/components/content-video.html %}
  {% else %}
    {% include banner/components/content.html %}
  {% endif %}


  {% include banner/components/photo-meta.html %}


  {% include banner/components/background.html %}


  {% include banner/components/nav.html %}


</section>


{% if page.sections %}
{% include page/page-nav.html %}
{% endif %}
