<div class="row">
  <div class="col">
    <span class="title title--xxxxs title--bold title--upper">Shot with</span>
    <h4 class="title title--xxxs">
      <span class="title--bolder">{{photo.camera}}</span><br />
      {{photo.lens}}
    </h4>
  </div>
  <div class="col modal__content__text-camera">
    <span>
      <img src="{{site.baseurl}}/img/content/camera-{{photo.camera|slugify}}.png" alt="{{photo.camera}}" width="200px">
    </span>
  </div>
</div>

<hr>

<div class="row">
  <div class="modal__content__text-tech">
    <span class="title title--xxxxs title--bold title--upper">Aperture</span> <br />
    <span class="title title--xxxs">{{photo.aperture}}</span>
  </div>
  <div class="modal__content__text-tech">
    <span class="title title--xxxxs title--bold title--upper">Shutter Speed</span> <br />
    <span class="title title--xxxs">{{photo.shutterspeed}}</span>
  </div>
  <div class="modal__content__text-tech">
    <span class="title title--xxxxs title--bold title--upper">Focal Length</span> <br />
    <span class="title title--xxxs">{{photo.focallength}}</span>
  </div>
</div>