<div class="row row--6-6-gutters">
  <div class="col">
    <span class="title title--xxxxs title--bold title--upper">Shot with</span>
    <h4 class="title title--sub title--xxxs">
      <span class="title--bolder">{{item.camera}}</span><br />
      {{item.lens}}
    </h4>
  </div>
  <div class="col modal__content__text-camera">
    <span>
      <img src="{{site.baseurl}}/img/content/camera-{{item.camera|slugify}}.png" alt="{{item.camera}}" width="200px">
    </span>
  </div>
</div>

<hr>

<div class="row">
  <div class="modal__content__text-tech">
    <h5 class="title title--xxxxs title--bold title--upper">Aperture</h5>
    <p class="title title--sub title--xxxs">{{item.aperture}}</p>
  </div>
  <div class="modal__content__text-tech">
    <h5 class="title title--xxxxs title--bold title--upper">Shutter Speed</h5>
    <p class="title title--sub title--xxxs">{{item.shutterspeed}}</p>
  </div>
  <div class="modal__content__text-tech">
    <h5 class="title title--xxxxs title--bold title--upper">Focal Length</h5>
    <p class="title title--sub title--xxxs">{{item.focallength}}</p>
  </div>
</div>