
<script>

  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('modal__video', {
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
    $('#modal__video').addClass('yt--ready');
  }

  function onPlayerStateChange(event) {}

  function stopVideo() {
    player.stopVideo();
    $('#modal__video').removeClass('yt--ready');
  }

  function playVideo() {
    player.playVideo();
    $('#modal__video').addClass('yt--ready');
  }

</script>