
<div class="page-bg" style="background-image: url('{{site.img}}/content/{{page.id}}/banner.jpg')">
  <div class="page-bg__overlay"></div>
</div>

<div class="banner campaign-banner">
  <div class="site-header__offset"></div>
  <div class="site-nav__offset"></div>
  <div class="banner__wrap">

      <div class="container">
        <div class="row row--valign-center">

          <!-- Video -->
          <div class="col col--6">
            <div class="bg-img bg-img--1-1 bg-img--circle" style="background-image: url({{site.img}}/content/{{page.id}}/video.jpg);">
              <a href="javascript:void(0);" data-modal-item="video-{{page.id}}" class="js-open-modal bg-img__link"></a>
              <div class="bg-img__content">
                <div class="bg-img__play"></div>
              </div>
            </div>
          </div>

          <div class="col col--6">
            {% if page.banner.title-sup %}<h2 class="sub-title">{{page.banner.title-sup}}</h2>{% endif %}
            {% if page.banner.title %}<h1 class="banner-title">{{page.banner.title}}</h1>{% endif %}
            <div class="space--xxs"></div>
            {% if page.banner.intro %}
              {{page.banner.intro}}
            {% endif %}
            <div class="space--md">
              <a href="javascript:void(0);" data-modal-item="video-{{page.id}}" class="js-open-modal btn btn--yellow">Watch now</a>
            </div>
          </div>

        </div>
      </div>

  </div>
</div>


