// the title banner that appears at the top of every page. sometimes animated bgs

$info-height:         70px;
$core-nav-height:     70px;
$core-nav-height-sm:  55px;
$site-nav-height:     70px;
$site-nav-height-sm:  55px;

.banner {
  position: relative;
  min-height: 75%;
  background-color: $grey-darkest;



  &__content {
    position: absolute;
    top: $core-nav-height;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-content-overlay;
    &-wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: $z-content;
      padding-top: 25vh;
      padding-left: $s2;
      padding-right: $s2;
      @include bp(lg){
        padding-left: $s4;
        padding-right: $s4;
      }
      .csstransforms.csstransforms3d & {
        top: 50%;
        padding-top: 0;
        transform: translateY(-50%);
      }
    }
  }

  &__iam {
    background-image: url('../img/bg/iamnikon.png');
    background-size: cover;
    width: 160px;
    max-width: 90%;
    margin: auto;
    margin-bottom: $s3;
    .svg & { background-image: url('../img/bg/iamnikon.svg'); }
    &:after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 21.36%;
    }
    @include bp(lg){
      width: 260px;
    }
    &--chasing {
      width: 280px;
      @include bp(md){ width: 420px; }
      @include bp(xl){ width: 600px; }
      background-image: url('../img/bg/iamchasing.png');
      .svg & { background-image: url('../img/bg/iamchasing.svg'); }
      &:after {
        padding-top: 9.48%;
      }
    }
  }




  &__info {
    pointer-events: none;
    position: absolute;
    left: $s2;
    right: $s2;
    bottom: 0;
    z-index: $z-content-overlay;
    height: $info-height/1.4;
    @include bp(xxxl){
      height: $info-height;
      right: 0;
      left: 0;
    }
    &-right,
    &-left {
      position: absolute;
      top: 0;
      z-index: $z-content-upper;
      height: $info-height;
      line-height: $info-height;
    }
    &-right { right: 0; }
    &-left { left: 0; padding-right: 3.5em; }

    &-location {
      & > a { pointer-events: all; }
      &:before {
        content: "";
        display: inline-block;
        height: 1.5em;
        width: 1.05em;
        margin-right: .5em;
        margin-bottom: .4em;
        vertical-align: middle;
        background-image: url( "../img/icons/map-pin-white.png" );
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: contain;
        .svg & { background-image: url( "../img/icons/map-pin-white.svg" ); }
      }
    }
  }



  &__overlay {
    position: absolute;
    top: $core-nav-height-sm;
    bottom: $site-nav-height-sm;
    left: 0;
    right: 0;
    z-index: $z-content-upper;
    background-color: rgba($grey-darker,0.3);
    background-image: url('../img/bg/banner-vignette.png');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    @include bp(lg){
      top: $core-nav-height;
      bottom: $site-nav-height;
    }
    @include bp(xxxl){
      &-title {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 26px;
        background-repeat: none;
        background-size: 100% auto;
        background-position: center left;
        background-image: url('../img/bg/banner-sidetitle.png');
        .svg &,
        .svgasimg & {
          background-image: url('../img/bg/banner-sidetitle.svg');
        }
      }
    }
  }



  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    background-image: url('../img/bg/bg.jpg');
    @include background-attributes;
  }



  &__slide {
    transition: all 8000ms cubic-bezier(0,0,1,1);
    @include background-attributes();
    background-size: auto 100%;
    background-position: center;
    .owl-item.active & {
      background-size: auto 115%;
    }
  }


  /* ==================================
  // MICROSITE NAV */

  &__nav {
    position: absolute;
    left: 0;
    right: 0;
    z-index: $z-nav-upper;
    background-color: rgba($grey-dark,0.85);
    .banner--nav-top & {
      top: $core-nav-height-sm;
      @include bp(md){
        top: $core-nav-height;
      }
    }
    .banner--nav-bottom & {
      bottom: 0;
    }
  }

  &--nav-top {
    .banner__overlay,
    .banner__content {
      top: $core-nav-height-sm + $site-nav-height-sm;
      bottom: 0;
      @include bp(md){
        top: $core-nav-height + $site-nav-height;
      }
    }
    .banner__info {
      bottom: 0;
      @include bp(md){
        bottom: 0;
      }
    }
  }

  &--nav-bottom {
    .banner__content {
      top: $core-nav-height-sm;
      bottom: $site-nav-height-sm;
      @include bp(md){
        top: $core-nav-height;
        bottom: $site-nav-height;
      }
    }
    .banner__info {
      bottom: $site-nav-height-sm;
      @include bp(md){
        bottom: $site-nav-height;
      }
    }
  }


  /* ==================================
  // PHOTOGRAPHER ACCORDIONS */

  &__photographer {
    overflow: hidden;
    vertical-align: middle;
    &__title {
      width: 100%; display: block;
      cursor: pointer;

      &-image { display: inline-block; margin-right: 0.5em; }
      &-title {
        display: inline-block;
        @include bp(lg){ padding: 0.5em 0; }
      }
      &-subtitle {
        display: block;
        margin-left: 0;
        font-weight: 300;
        @include bp(lg){
          display: inline-block;
          margin-left: 0.5em;
          font-weight: 500;
        }
      }
      &-btn {
        @include transition();
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 0.5em;
        padding-top: 0.5em;
        text-align: center;
        border-radius: 999em;
        float: right;
        border: 1px solid rgba($white,0.1);
        .accordion--triggered & { padding-top: 0.3em; }
        & img {
          @include transition();
          width: 80%;
          vertical-align: middle;
          transform: rotate(0deg);
          .accordion--triggered & {
            transform: rotate(180deg);
          }
        }
      }
      &:hover &-btn { border-color: rgba($white,0.3); }
    }
    &__content {
      &-ig {
        & + * { padding-top: 0.25em; }
        &-icon {
          width: 16px;
          vertical-align: middle;
          margin-right: 0.25em;
        }
      }
      padding-top: 1em;
      width: 100%; display: block;
    }
  }







  /* ==================================
  // CAROUSEL LAYOUT MODIFIERS */

  &--carousel {
    text-align: center;
    min-height: 85%;
    padding-top: 50%;
    .banner__content { pointer-events: none; }
  }







  /* ==================================
  // ARTICLE LAYOUT MODIFIERS */

  &--article {
    z-index: 0;
    min-height: auto;
    padding-top: 0;
    padding-bottom: $core-nav-height-sm + $site-nav-height-sm;
    @include bp(md){
      padding-bottom: $core-nav-height + $site-nav-height;
    }
    @include bp(lg){
      height: 95%;
      padding-bottom: 0;
    }

    .banner__content {

      position: relative;
      @include bp(lg){
        position: absolute;
      }

      &-wrap { z-index: $z-content-upper; }
      &:after {
        content: "";
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        width: 100%;
        background-color: rgba($grey-darkest,.7);
      }
      $breadcrumbs-arrow-width: 16px;
      &-breadcrumbs {
        & a {
          position: relative;
          @include bp(xxxl){ margin-left: -$breadcrumbs-arrow-width*2; }
          &:before {
            @include transition();
            content: "";
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: $breadcrumbs-arrow-width; height: 15px;
            position: relative;
            display: inline-block;
            margin-left: $breadcrumbs-arrow-width*0.2;
            margin-right: $breadcrumbs-arrow-width*0.8;
            background-image: url('../img/icons/arrow-small-left.png');
            .svg & {
              background-image: url('../img/icons/arrow-small-left.svg');
            }
            .layout--guide & {
              background-image: url('../img/icons/arrow-small-left-black.png');
              .svg & {
                background-image: url('../img/icons/arrow-small-left-black.svg');
              }
            }
          }
          &:hover {
            &:before {
              margin-left: 0;
              margin-right: $breadcrumbs-arrow-width;
            }
          }
        }
      }

      @include bp(xxl){
        &-col {
          width: 50%;
          padding-right: 2em;
        }
        &:after {
          width: 50%;
          background-color: rgba($grey-darkest,.85);
        }
      }

    }


    .banner__content-wrap {
      position: relative;
      @include bp(lg){
        position: absolute;
        padding-bottom: 0;
      }

      .csstransforms.csstransforms3d & {
        top: 0;
        padding-top: 0;
        transform: translateY(0);
        @include bp(lg){
          top: 50%;
          padding-top: 0;
          transform: translateY(-50%);
        }
      }

    }

    .banner__content-col {
      padding-top: $s7;
      padding-bottom: $s7;;
    }

    .banner__overlay {
      background: none;
      z-index: $z-content-overlay;
    }

    .banner__info {
      display: none;
      @include bp(lg){
        display: block;
        text-align: right;
      }
    }

    // inverted colours for guide pages
    .layout--guide & {
      .banner__content {
        &:after { background-color: rgba($white,.85); }
      }
      .banner__overlay-title {
        background-image: url('../img/bg/banner-sidetitle-black.png');
        .svg &, .svgasimg & {
          background-image: url('../img/bg/banner-sidetitle-black.svg');
        }
      }
    }

  }



}
