// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  height: 75%;
  text-align: center;
  color: white;
  & * { color: white; }
  &__wrap,
  &__wrap > .row {
    height: 100%;
    max-width: 100%;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    background-color: $grey-dark;
    background-image: url('../img/bg/bg.jpg');
    @include background-attributes;
  }
  &__title {
    position: absolute;
    top: $core-nav-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: rgba($black,.15);
    &-wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: $z-content;
      padding-top: 25vh;
      padding-left: $s4;
      padding-right: $s4;
      .csstransforms.csstransforms3d & {
        top: 50%;
        padding-top: 0;
        transform: translateY(-50%);
      }
    }
  }
}