<div class="harvey bg--theme-primary text--black">
  <div class="harvey__image" style="background-image: url({{site.baseurl}}/img/img.jpg);">
    <a class="harvey__image-link" href="{{site.baseurl}}/offers"></a>
  </div>
  <div class="harvey__text">
    <div class="title title--md title--bold">Win!</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quo minima, assumenda est perferendis itaque harum amet ratione distinctio ex. Vero repellat, id et unde sapiente, libero nisi dolorum tempore?</p>
    <a href="{{site.baseurl}}/competition" class="btn btn--secondary">Enter now</a>
  </div>
</div>