<div class="harvey bg--dark-grey text--white">
  <div class="harvey__image" style="background-image: url({{site.baseurl}}/img/img.jpg);">
    <a class="harvey__image-link" href="{{site.baseurl}}/offers"></a>
  </div>
  <div class="harvey__text">
    <div class="title title--md title--bold">Win!</div>
    <p class="text--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quo minima, assumenda est perferendis itaque harum amet ratione distinctio ex. Vero repellat, id et unde sapiente, libero nisi dolorum tempore?</p>
    <a href="{{site.baseurl}}/offers" class="btn btn--orange">View Offers</a>
  </div>
</div>