<div class="section vpad--xxxl bg--grey-darkest text--white competition-promo" style="background-image: url({{site.baseurl}}/img/content/competition-promo.jpg);">

  <div class="row row--padding row--7-5">
    <div class="col">
      <h4 class="title title--md title--bold">Win your very own photographic journey</h4>
      <p class="text--xl">Win a trip to <span class="text--bold">Iceland</span> plus a <span class="text--bold">Nikon D7500</span> to capture your journey. To prepare fully, you'll also visit the <span class="text--bold">Nikon School</span> to make sure you get the perfect shot.</p>
      <a href="{{site.baseurl}}/competition" class="btn btn--lg btn--yellow btn--pulse">Enter now</a>
    </div>
  </div>

</div>