{% if include.static == "true" %}

  <div class="photo bg-img bg-img--{% if include.ratio %}{{include.ratio}}{% else %}16-9{% endif %}" style="background-image:url({{site.baseurl}}/img/content/{{photo.group}}/photos/{{photo.id}}.jpg);">

    {% if include.caption %}
      <div class="bg-img__details">
        {{photo.title}}<br />
        {{photo.photographer}}
      </div>
    {% endif %}

  </div>

{% else %}

  <a
    href="javascript:void(0);"
    class="js-open-modal photo bg-img bg-img--{% if include.ratio %}{{include.ratio}}{% else %}16-9{% endif %}"
    data-modal="modal-photo" data-modal-id="{{photo.id}}"
    style="background-image:url({{site.baseurl}}/img/content/{{photo.group}}/photos/{{photo.id}}.jpg);">

    {% if include.caption %}
      <div class="bg-img__details">
        {{photo.title}}<br />
        {{photo.photographer}}
      </div>
    {% endif %}

  </a>

{% endif %}