
{% if page.banner.images.size > 1 %}

  {% if page.banner.photo-id %}
  {% assign photo = photos | where: "id", page.banner.photo-id %}
  <div class="banner__info text--white">
    <div class="row row--padding">

      <div class="banner__info-left">
        <a href="javascript:void();" class="banner__info-location js-slide-photo js-open-modal" data-modal-item="{{photo.id}}">
          <span class="title--bolder js-slide-photo-title">{{photo.title}}</span>, <span class="js-slide-photo-location">{{photo.location}}</span>
        </a>
      </div>

      <div class="banner__info-right">
        <a class="btn btn--slide-info btn--outline btn--sm js-slide-photo-link" href="{{site.baseurl}}{{photo.group}}/the-journey">Get behind the lens</a>
      </div>

    </div>
  </div>
  {% endif %}

{% else %}

  {% if page.banner.photo-id %}
  {% assign photo = photos | where: "id", page.banner.photo-id %}
  <div class="banner__info text--white">
    <div class="row row--padding">

      <div class="banner__info-location">
        {% for photo in photo %}
        <a href="javascript:void(0);" class="js-open-modal" data-modal-item="{{photo.id}}">
          <span class="title--bolder">{{photo.title}}</span>, {{photo.location}}
        </a>
        {% endfor %}
      </div>

    </div>
  </div>
  {% endif %}

{% endif %}
