---
layout: default
id: competition
title: Competition
nav-order: 7


banner:
  title: Competition
  title-sub: Dreams of Iceland



intro: >
  <p class="text--xl text--bold">Win your very own photographic adventure in Iceland</p>
  <p class="text--lg">If our Iceland adventure has left your wanderlust reeling, don’t fret – it could all be yours. With two nights in Reykjavik and a further two far into the north of the country, plus a Nikon D7500 and training from Nikon, you’ll have all you need to capture your own Icelandic journey.</p>
  <a href="#enter" class="btn btn--yellow">Enter now</a>



prizes:



  - title: Reykjavik
    content: >
      <p class="text--lg">Fly into Reykjavik with WOW air and discover a cosmopolitan capital that easily rivals the rest of Europe’s major cities. Aside from thriving cafe and bar scene and a cultural landscape packed with artistic cool, you’ll be on the edge of the Golden Circle – the gateway to some of Iceland’s most coveted outdoor wonders. Two nights at the Icelandair Hotel Reykjavik Marina is framed by a unique, modern style throughout, with dinner at the hotel’s Slippbarinn restaurant offering a host of foodie treats.</p>

    image-title: <h3 class="title title--xxs title--bold">Icelandair Hotel Reykjavik Marina</h3>
    image-id: icelandair-hotel-reykjavik-marina



  - title: Capital of the North
    content: >
      <p class="text--lg">After exploring this beguiling city and the unmissable landscape it inhabits, you’ll head north to the Icelandair Hotel Akureyri for a two-night stay. Explore this northern outpost, the perfect base camp for discovering this wild area. Head for magnificent waterfalls or sink into thermal pools just a stone’s throw from your hotel.</p>

    image-title: <h3 class="title title--xxs title--bold">Akureyri Hotel</h3>
    image-id: akureyri-hotel



  - title: Capture your Journey
    content: >
      <p class="text--lg">Capture the mesmerising sights of this Arctic outpost with your very own Nikon D7500. It’s the perfect tool for shooting this incredible landscape. To make sure you're confident handling this great camera, you’ll be invited to the esteemed Nikon School to learn from the experts. After that, you’ll be all set for your very own photographic adventure!</p>

    image-title: <h3 class="title title--xxs title--bold">Nikon D7500 Prize Package</h3>
    image-id: nikon



---
{% assign photos = site.data.iceland | concat: site.data.morocco | concat: site.data.new-york %}



{% include page/intro.html %}



<section class="row row--100 row--nobp row--4-4-4">
  <div class="col bg-img bg-img--2-3 bg-img--xl-4-3" style="background-image: url({{site.baseurl}}/img/content/competition/01.jpg);"></div>
  <div class="col bg-img bg-img--2-3 bg-img--xl-4-3" style="background-image: url({{site.baseurl}}/img/content/competition/02.jpg);"></div>
  <div class="col bg-img bg-img--2-3 bg-img--xl-4-3" style="background-image: url({{site.baseurl}}/img/content/competition/03.jpg);"></div>
</section>



<section class="section vpad--xxxl text--white prizes" style="background-image: url({{site.baseurl}}/img/content/competition/background.png);">

  {% for prize in page.prizes %}
  <div class="prize row row--padding">

    <div class="prize__text row--padding">
      <h4 class="title title--xs title--upper title--kerning title--bold">{{prize.title}}</h4>
      {{prize.content}}
    </div>

    <div class="prize__image">
      <div class="bg--grey-darker">
        <a href="#enter" class="bg-img bg-img--16-9" style="background-image: url('{{ site.baseurl }}/img/content/competition/prize-{{prize.image-id}}.jpg')"></a>
        <div class="row--padding vpad-bottom--xs">
          {{ prize.image-title }}
        </div>
      </div>
    </div>

  </div>
  {% endfor %}


</section>


<div class="section bg--grey-darker text--white" id="enter">
  <div class="row row--padding row--xl text--center">
    <h4 class="title title--sm">Enter here...</h4>
  </div>
  <div class="row row--padding row--xl text--center">
    <iframe src="https://promotion4286.strutta.me" width="100%" height="560"></iframe>
  </div>
</div>



