

// ---------- button ----------

.btn {
  position: relative;
  display: inline-block;
  color: $text-white;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.33;
  border-radius: 3px;
  background-color: $orange;
  cursor: pointer;
  padding: $s-1 $s3;
  font-size: $s-2;
  @include bp(lg){
    padding: $s1 $s4;
    font-size: $s-1;
  }
  @include transition;
  &:hover { background-color: $orange-dark; }

  * + & { margin-top: 1.5em; }
  & + & { margin-left: 1em; }

  @include bp(lg){
    &--sm { padding: $s-1 $s3; font-size: $s-1; }
    &--lg { padding: $s2 $s8; }
  }

  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; }
  }

  &--orange-outline {
    color: $text;
    background-color: $white;
    &:before {
      // creates a border within the button dimentions. useful if an outline
      // button is inline with a solid colour button
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $orange;
      border-radius: inherit;
    }
    &:hover {
      color: $text-white;
      background-color: $orange;
    }
  }

  &--outline {
    color: $text-dark;
    background-color: transparent;
    border: 1px solid $grey-light;
    &:hover {
      color: $text-white;
      border: 1px solid $text-dark;
      background-color: $text-dark;
    }
    .text--white & {
      color: $white;
      border: 1px solid $white;
      &:hover { color: $text-dark; background-color: $white; }
    }
  }


  &--white { background-color: $white; color: $headline;
    &:hover { background-color: rgba($white,0.9); }
  }

  &--yellow,
  &--primary { background-color: $theme-primary; color: $headline;
    &:hover { background-color: darken($theme-primary,5); }
  }

  &--secondary { background-color: $theme-secondary; color: $theme-primary;
    &:hover { background-color: lighten($theme-secondary,5); }
  }

  &--pulse {
    box-shadow: 0 0 0 0 rgba(#fff, 0.2);
    animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);
    &:hover{
      animation: none;
      transform: scale(1.03);
    }
  }

  // animation for the pulsing button
  @keyframes pulse {
    60%, 100% {
      box-shadow: 0 0 0 15px rgba(#fff, 0);
    }
  }

}