
$icon-size: 3.2em;
@include bp(lg){
  $icon-size: 4em;
}
$content-width: 30%;
$modaltransition-time: 300ms;
$modaltransition-distance: 4em;
@mixin modaltransition() { transition: all $modaltransition-time cubic-bezier(.5,0,.5,1); }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-overlay;
  background-color: rgba($black,0.6);
  cursor: pointer;
  overflow: hidden;
  &.is-open { display: block; }
  &.is-closed { display: none; }

  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0 !important;
    margin-left: auto; margin-right: auto;
    cursor: auto;
    overflow: visible;
    padding-left: $modaltransition-distance;
    padding-right: $modaltransition-distance;
    .flexbox & {
      display: flex;
      align-items: center;
    }
  }

  // The item that is shown/hidden based on selector
  &__item {
    @include modaltransition();
    width: 100%;
    position: absolute;
    margin: auto;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: $icon-size;
    overflow: scroll;
    @include bp(lg){
      overflow: auto;
      padding: inherit;
    }

    .flexbox & {
      display: flex;
      align-items: center;
    }

    &.is-open     { left: 0; opacity: 1; }
    &.is-opening  { left: 0; opacity: 1; }
    &.is-closing-next  { left: -$modaltransition-distance; opacity: 0; }
    &.is-closing-prev  { left: $modaltransition-distance; opacity: 0; }
    &.is-closed   { left: 0; opacity: 0; }

    &.is-prev     { left: -$modaltransition-distance; }
    &.is-next     { left: $modaltransition-distance; }

  }

  // The box with image and text contained in a module
  &__content {
    max-width: 100%;
    width: $xxxl;
    margin: auto;

    &__video {
      background-color: $grey-dark;
      & iframe {
        @include transition();
        position: absolute;
        top: 0;
      }
    }

    // Modal image
    &__img {
      position: relative;
      z-index: $z-content;
      display: flex;
      align-items: center;
      overflow-x: scroll;
      padding: $s-1;
      padding-top: $s4;
      & .bg-img { width: 100%; }
      @include bp(lg){
        padding: $s3;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
      }

      &--landscape {
        width: 100%;
        text-align: center;
        img {
          max-width: 100%;
          max-height: 100%;
          margin: auto;
          @include bp(lg){}
        }
      }
      &--portrait {
        height: 100%;
        @include bp(lg){
          img {
            height: 1080px;
            max-height: 100%;
            margin: auto;
          }
        }
      }
    }

    // Title
    &__title {
      position: relative;
      padding: 0em 1em 2.5em 1em;
      text-align: center;
      z-index: $z-content-upper;
      width: 100%;
      background: $grey-darkest;
      background: -moz-linear-gradient(top, rgba($grey-darkest,1) 20%, rgba($grey-darkest,0) 100%);
      background: -webkit-linear-gradient(top, rgba($grey-darkest,1) 20%,rgba($grey-darkest,0) 100%);
      background: linear-gradient(to bottom, rgba($grey-darkest,1) 20%,rgba($grey-darkest,0) 100%);
      @include bp(lg){
        position: absolute;
        top: 0;
        left: 0;
        padding: 2em 6em;
        text-align: left;
      }
    }

    // Text content
    &__text {
      position: relative;
      z-index: $z-content-upper;
      color: $white;
      & .title { color: $white; }
      @include bp(lg){
        position: absolute;
        left: $icon-size*1.5;
        top: 50%;
        transform: translateY(-50%);
      }
      &-content {
        width: 100%;
        padding: 1.5em 2em;
        background-color: rgba($grey-darkest,0.8);
        border-top: 2px solid $theme-primary;
        @include bp(lg){
          max-width: 520px;
        }
      }
      &-photographer {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        margin: 0 0.5em;
        vertical-align: middle;
      }
      &-camera {
        position: absolute;
        right: 0; top: 0;
        & span {
          display: block;
          position: absolute;
          top: -4em;
          right: 0;
          width: 120px;
        }
        @include bp(lg){
          position: relative;
          right: auto; top: auto;
          & span {
            width: 160px;
            top: -3em;
          }
        }
      }
      &-tech {
        @include gallery($gutters 4);
        margin-bottom: gutter();
      }
      // btn to toggle info box
      &-btn {
        position: absolute;
        top: -1.5em;
        left: 0;
        margin-bottom: -1px;
        height: 2.5em;
        width: 2.5em;
        background-color: $theme-primary;
        background-image: url('../img/icons/camera-black.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.5em;
        cursor: pointer;
        z-index: $z-overlay-upper;
        .svg & { background-image: url('../img/icons/camera-black.svg'); }
        @include bp(lg){
          left: -0.5em;
        }
      }
    }

  }

  &__cta {
    position: absolute;
    bottom: 2em;
    left: 0; right: 0;
  }

  &__close {
    position: fixed;
    right: 0;
    top: 0;
    height: $icon-size;
    width: $icon-size;
    background-color: rgba($white,0.8);
    background-image: url('../img/icons/close-black.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    z-index: $z-overlay-upper;
    @include transition;
    .svg & { background-image: url('../img/icons/close-black.svg'); }
    &:hover{ background-color: $white; }
  }



  /*=====================================
    MODAL CAROUSEL
  =====================================*/

  &__nav {
    display: none;
    .modal--carousel & {
      display: block;
      position: absolute;
      bottom: 0;
      height: $icon-size;
      width: 50%;
      margin-top: -$icon-size;
      z-index: $z-overlay-upper;
      background-color: rgba($white,0.8);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1em;
      cursor: pointer;
      user-select: none;
      @include transition;
      &--next {
        right: 0;
        border-right: 0;
        background-image: url('../img/icons/arrow-right-dark.png');
        .svg & { background-image: url('../img/icons/arrow-right-dark.svg'); }
      }
      &--previous {
        left: 0;
        border-left: 0;
        background-image: url('../img/icons/arrow-left-dark.png');
        .svg & { background-image: url('../img/icons/arrow-left-dark.svg'); }
      }
      &:hover{ background-color: $white; }
      @include bp(lg){
        bottom: auto;
        top: 50%;
        height: $icon-size*2;
        width: $icon-size;
      }
    }
  }// if .modal--carousel

}


.disable-scroll {
  overflow: hidden;
  .site__content {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
}