// general styles for the project that wouldn't be a reuseable component
$header-height: 126px;


.layout {
  &--overview { background-color: $grey-darkest; }
}


.page-bg {
  position: fixed;
  top: 0; left: 0;
  right: 0; bottom: 0;
  z-index: -1;
  @include background-attributes;
  &__overlay {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: $grey-darkest;
    opacity: 0.9;
  }
}



// OVERVIEW LAYOUT
.overview {
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 126px;
  width: 100%;
  @include bp($xxl){
    height: 100%;
    min-height: 600px;
    flex-direction: row;
  }

  &__title {
    padding-bottom: $s0;
  }
  &__intro {
    position: relative;
    width: 100%;
    @include bp($xxl){
      display: flex;
      align-items: center;
      width: 50%;
      height: 100%;
    }
  }
  &__links {
    position: relative;
    width: 100%;
    @include bp($lg){
      display: flex;
    }
    @include bp($xxl){
      align-items: center;
      flex-direction: row;
      flex-direction: column;
      width: 50%;
      height: auto;
    }
  }
  &__item {
    @include background-attributes;
    background-color: $grey-darkest;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    @include bp($lg){
      height: 400px;
      width: 50%;
    }
    @include bp($xxl){
      display: flex;
      flex: 1;
      align-items: center;
      height: 50%;
      width: 100%;
      flex-direction: row;
    }

    &-content {
      position: relative;
      z-index: 1;
    }
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: $z-content;
      background-color: rgba($black,.4);
      @include transition;
    }
    &:hover &-overlay { background-color: rgba($black,0.7); }
    &-link {
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;
      z-index: 10;
    }
  }
}



.instagram {
  display: flex;
  padding-top: 10px;
  &__icon {
    width: 20px;
    height: 20px;
    background-image: url('../img/icons/social-ig-black.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    margin-top: -3px;
  }
}




.story {
  // main story section
  padding: $s2;
    @include bp($xxl){
    padding: $s8;
  }



  & .title { color: $grey-darker; }
  &__banner {
    &-overlay { background-color: rgba($black,0.6); }
  }
  &__profile {
    color: $grey-dark;
    & .title { color: $grey-darker; }
  }
  &__section {
    color: $grey-dark;
    margin-bottom: $s4;
    &-image { margin-bottom: $s4; }
    &-inline-image {
      margin: 0.5em 0;
      @include bp($xxl){
        float: right;
        width: 50%;
      }
    }
  }
  &__countdown {
    &-item {
      display: inline-block;
      padding: 10px;
      margin: 4px;
      border: 1px solid rgba($white,0.2);
      background-color: rgba($black,0.7);
      color: $white;
    }
    &-seconds, &-minutes, &-hours , &-days {
      font-size: 1.6rem; font-weight: 600;
      @include bp($lg){
        font-size: 2.5rem; font-weight: 400;
      }
    }
  }
}




.journal {
  color: $white;
  & .title { color: $white; }
  @include bp($lg) {
    column-count: 2;
    -webkit-column-count: 2;
    column-gap: 0;
    -webkit-column-gap: 0;
  }
  @include bp($xxl) {
    column-count: 3;
    -webkit-column-count: 3;
    column-gap: 0;
    -webkit-column-gap: 0;
  }

  &__item {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: $s2;
    @include bp($lg) {
      padding-right: $s2;
      padding-left: 0;
    }
    &-photo {
      @include transition;
      transform: scale(1);
      &:hover {
        transform: scale(1.05);
      }
    }
    &-content {
      padding: $s2 0;
    }
    &-author {
      margin-top: $s0;
      padding-top: $s-1;
      border-top: 1px solid $nikon-yellow;
      text-transform: uppercase;
      text-align: right;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 0.05em;
    }
  }
}




.photo {
  &__content {
    cursor: pointer;
    position: absolute;
    top: 0; left: 0; right: 0;
    z-index: 10;
    background: #0c0d0e;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#0c0d0e),to(rgba(12,13,14,0)));
    background: -o-linear-gradient(top,#0c0d0e 20%,rgba(12,13,14,0) 100%);
    background: linear-gradient(to bottom,#0c0d0e 20%,rgba(12,13,14,0) 100%);
    text-align: center;
    color: $white;
    padding: $s1;
  }
  &__details {
    display: none;
    &-list {
      display: inline-block;
      border-top: 1px solid rgba($white,0.2);
      margin-top: $s2;
      &-item {
        list-style: none;
        text-shadow: 0 1px 4px rgba($black,0.6);
      }
    }
  }
  &__img {
    z-index: 0;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding: $s4;
    padding-top: $s12;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    @include bp($xxl) {
      padding: $s8;
      padding-top: $s12;
    }
    & img {
      max-height: 100%;
      width: auto;
      margin: auto;
    }
  }
}