// general styles for the project that wouldn't be a reuseable component
$header-height: 126px;

.layout {
  &--overview { background-color: $grey-darkest; }
}

.page-bg {
  position: fixed;
  top: 0; left: 0;
  right: 0; bottom: 0;
  z-index: -1;
  &__overlay {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: $grey-darkest;
    opacity: 0.9;
  }
}

// OVERVIEW LAYOUT
.overview {
  color: $white;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: calc( 100% - 126px );
  min-height: 600px;
  &__footer {
    position: absolute;
    bottom: 0; left: 0; right: 0;
  }
  &__intro {
    background-color: $black;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
  }
  &__links {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  &__item {
    background-color: $grey-darkest;
    @include background-attributes;
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    flex-direction: row;
    &-content {
      position: relative;
      z-index: 1;
    }
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: $z-content;
      background-color: rgba($black,.4);
      @include transition;
    }
    &:hover &-overlay { background-color: rgba($black,0.7); }
    &-link {
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;
      z-index: 10;
    }
  }
}


.instagram {
  display: flex;
  padding-top: 10px;
  &__icon {
    width: 20px;
    height: 20px;
    background-image: url('../img/icons/social-ig-black.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    margin-top: -3px;
  }
}

.story {
  padding-bottom: $s4;
  &__profile {
    color: $grey-dark;
    & .title { color: $grey-darker; }
  }
  &__section {
    color: $grey-dark;
    margin-bottom: $s4;
    &-image { margin-bottom: $s4; }
    &-inline-image {
      float: right;
      width: 50%;
      margin: 0.5em 0 0.5em 1.5em;
    }
  }
}


// CAMPAIGN LAYOUT
.campaign {
  color: $white;
  padding-bottom: $s8;
  & .title { color: $white; }

  // .campaign-gallery
  &-gallery {
    &__image {
      @include transition;
      display: block;
      margin-bottom: $s3;
      background-color: $grey-darkest;
      transform: scale(1);
      &:hover { transform: scale(1.05); }
    }
  }
}




