---
layout: default
id: nikon-range
title: Nikon
nav-order: 8



banner:
  content: >
    <div class="banner__iam banner__iam--chasing"></div>
    <h1 class="title title--xxxxl title--upper title--bolder title--kerning">Nikon</h1>
    <p class="text--xl text--bold">Experience the ultimate in image quality and creative control with a Nikon DSLR</p>



intro: >
  <p class="text--xl text--bold">Begin your very own photographic journey with Nikon.</p>
  <p class="text--lg">Whether you’re an aspiring or a professional photographer, make your next camera a Nikon. Graduate to the D7500, for crisp, high-definition shots with rich tonal gradations. It’s the perfect tool for stepping up your photography and capturing the perfect moment with ease.</p>
  <p class="text--lg">If you’re already a fluent photographer, the D850 is built for you. Extreme resolution meets extreme speed, for a package that will offer a brand new perspective to your photographic creativity. </p>



testimonials:

  - by: Eleanor Cording-Booth
    destination: iceland
    content: The D7500 is the perfect choice for an adventurous destination like Iceland. The moveable touchscreen and weatherproofing mean you'll get some shots out in the elements without damaging the camera or having to crouch down in mud to get the angle you want.

  - by: Louis Adams
    destination: morocco
    content: The Nikon D7500 is super easy to use, but takes stunning pictures. In the bustling streets of Marrakech I found the burst mode especially helpful to capture the right shot, and quickly uploading them straight to my phone via the Snapbridge app was an added bonus!

  - by: Craig Howes
    destination: iceland
    content: I really enjoyed the Nikon D850, it was a great durable camera that held up in Iceland’s harsh conditions. The dynamic range is incredible and one of my favorite features is the built in timelapse for those random Northern Lights that sometimes catch you by surprise

  - by: Ross Walker
    destination: morocco
    content: I loved shooting on the Nikon as the speed of autofocus meant you were less likely to miss "that moment" - this was crucial in the fast-paced markets I love shooting in.

  - by: Marianna Sgherri
    destination: new-york
    content: The Nikon D7500 is the perfect camera for a trip to a metropolis like NYC. In a place where there's so much going on 24/7 you want to have a camera that works well in low light and has got a long-lasting battery. With the D7500 I didn't have to worry about getting that horrible 'noise' on my night street photos nor about the battery suddenly dying while shooting at the end of the day.



sections:

  - title: Nikon D7500
    link: https://www.europe-nikon.com/en_GB/product/digital-cameras/slr/consumer/d7500
    content: The search for the perfect image can take you anywhere. Go there with the powerful, nimble, and fully connected D7500. Catch the beauty you find with flagship DX image quality inherited from Nikon’s D500.

  - title: Nikon D850
    link: https://www.europe-nikon.com/en_GB/product/digital-cameras/slr/professional/d850/camera-overview
    content: When you’ve got the ultimate combination of resolution, speed, and light sensitivity to work with, you don’t just execute incredible work. You show your mastery.

  - title: NIKKOR Lenses
    link: https://www.europe-nikon.com/en_GB/product/nikkor-lenses/overview
    content: A great camera is only as good as the lens you've chosen. Expand your creative vision and unlock your camera's full potential with a choice of over 90 NIKKOR lenses - each optimised to give crystal clear images, whatever the subject.



nikon-school:
  title: The Nikon school
  link: https://nikonschool.co.uk/
  content: >
    <p class="text--lg">Join us at Nikon School to learn how to get the best from your camera, lenses and speedlights</p>
    <p>Nikon School is a venue for photography training that aims to educate and inspire. Our workshops cater for every level of photographic ability, whether you are a beginner, keen amateur or professional photographer.</p>



---
{% assign photos = site.data.iceland | concat: site.data.morocco | concat: site.data.new-york %}



{% include page/intro.html %}



<section class="section bg--grey-dark">
  {% for section in page.sections %}
  <div class="bob row row--padding text--white">

    <a href="{{section.link}}" class="bob__image bg-img bg-img--3-2 bg-img--rounded" style="background-image:url({{site.baseurl}}/img/content/{{page.id}}/{{section.title|slugify}}.jpg);">
      <div class="bg-img__content">
        <img src="{{site.baseurl}}/img/content/{{page.id}}/{{section.title|slugify}}-title.png">
      </div>
    </a>

    <div class="bob__text">
      <h3 class="title title--md title--upper title--bold title--kerning">{{section.title}}</h3>
      <p class="text--lg">{{section.content}}</p>
      <a href="{{section.link}}" class="btn btn--yellow btn--sm">Find out more</a>
    </div>

  </div>
  {% endfor %}
</section>



<section class="text--white text--center testimonials">

  <div class="testimonials__carousel carousel owl-carousel" id="testimonial-carousel">
    {% for testimonial in page.testimonials %}
      <div class="testimonials__slide" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/testimonial-{{testimonial.destination}}.jpg);">
        <div class="row row--xl row--padding">
          <hr>
          <p class="text--lg">"{{testimonial.content}}"</p>
          <p class="photographer__title">
            <img src="/nikon/img/content/{{testimonial.destination}}/photographer-{{testimonial.by|slugify}}.jpg" width="30" class="photographer-image bg-img--circle">
            <span class="photographer-title title title--bold">{{testimonial.by}}</span>
          </p>
          <hr>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="carousel-nav">
    <div class="carousel-navitem carousel-navitem-next" id="testimonial-carousel-next"></div>
    <div class="carousel-navitem carousel-navitem-prev" id="testimonial-carousel-prev"></div>
  </div>

</section>



<section class="harvey bg--white">

  <a href="{{page.nikon-school.link}}" class="harvey__image" style="background-image:url({{site.baseurl}}/img/content/{{page.id}}/nikon-school.jpg);"></a>

  <div class="harvey__text text--center">
    <h3 class="title title--md title--upper title--bold title--kerning row--sm">
      <img src="{{site.baseurl}}/img/logo/logo-nikon-school.png" class="js-svg-swap" alt="{{page.nikon-school.title}}">
    </h3>
    <div class="space--sm"></div>
    {{page.nikon-school.content}}
    <a href="{{page.nikon-school.link}}" class="btn btn--yellow btn--sm">Find out more</a>
  </div>

</section>

