---
layout: default
---


<div class="container">


  <!-- TITLE -->
  <h2 class="title title--xl text--upper text--bold text--white">Photo journal</h2>
  <span class="text--xl text--bold">All images captured with the new Nikon Z 7.</span>

  <div class="space--lg"></div>

  <!-- PHOTO JOURNAL -->
  <div class="journal">
    {% assign items = page.journal %}

    {% for item in items %}

      {% if item.photo %}
        {% assign photodata = site.data.modal.photo | where: "id", item.photo %}
        {% for photo in photodata %}
        <div class="journal__item journal__item-photo">
          <a href="javascript:void(0);" data-modal-item="{{photo.id}}" data-modal-group="page" class="js-open-modal campaign-gallery__image bg-img bg-img--{{photo.ratio}}" style="background-image: url({{site.img}}/photos/{{page.id}}/{{photo.id}}.jpg);"></a>
        </div>
        {% endfor %}
      {% else %}
      <div class="journal__item">
        <div class="journal__item-content">
          <span class="text--xxl text--italic">"{{item.quote}}"</span>
          <div class="journal__item-author title">{{item.by}}</div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>

  </div>
</div>

<div class="space--xxl"></div>


