<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body class="layout--{{page.layout}} page--{{page.id}}">

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% if page.layout == "campaign" %}
      {% include campaign/banner.html %}
    {% else %}
      {% include page/banner.html %}
    {% endif %}

    <div class="content-spacing section-spacing">
      {{ content }}
    </div>

    {% include page/footer.html %}

    {% include modal/modal.html %}

  </body>

</html>