---
layout: default
---
{% assign photos = site.data[page.group] %}



{% include page/intro.html %}



<section class="section bg--grey-darkest text--white">
  <div class="row row--padding row--6-6-gutters">

  {% assign subpages = site.html_pages | where: "group", page.id | sort: "path" | sort: "group-order" %}
  {% for subpage in subpages %}

    <div class="bob">
      <div class="bob__image">
        <a href="{{site.baseurl}}{{subpage.url}}" class="bg-img bg-img--16-9 bg-img--xl-3-2 bg-img--rounded">
          <div class="bg-img__content text--white">
            <span class="title title--lg title--upper title--bold title--kerning">{{ subpage.title }}</span>
          </div>
          <div class="bg-img__bg" style="background-image: url('{{ site.baseurl }}/img/bg/nav/{{subpage.id}}.jpg');"></div>
        </a>
      </div>
      <div class="bob__text">
        {{subpage.parent-intro}}
        <a href="{{site.baseurl}}{{subpage.url}}" class="btn btn--outline">Discover {{subpage.title}}</a>
      </div>
    </div>

  {% endfor %}

  </div>
</section>



