---
layout: default
---
{% assign photos = site.data[page.group] %}
<div class="page__content">



  <div class="section bg--darker-grey text--white">
    <div class="row row--padding">
      {{page.intro}}
    </div>
  </div>



  <section class="bg--darker-grey text--white vpad-bottom--xl">
    <div class="row row--padding row--6-6-gutters">

    {% assign subpages = site.html_pages | where: "group", page.id | sort: "path" | sort: "group-order" %}
    {% for subpage in subpages %}

      <a href="{{ site.baseurl }}{{ subpage.url }}" class="col bg-img bg-img--xl-4-3 bg-img--16-9" style="background-image: url('{{ site.baseurl }}/img/bg/nav/{{subpage.id}}.jpg');">
        <div class="bg-img__content">
          <span class="text--white title title--lg title--upper title--bold">{{ subpage.title }}</span>
        </div>
      </a>

    {% endfor %}

    </div>
  </section>



</div><!-- END .page__content -->


