---
layout: default
---
{% assign photos = site.data[page.group] %}

<div id="guide-start">
  {% if page.intro %}
    {% include page/intro.html %}
  {% endif %}
</div>



<section class="section bg--light-grey vpad--xl">

  <div class="row row--padding">

    {% for section in page.feature-sections %}
      <div class="bob">

        <div class="bob__image">
          {% if section.photo-id %}
            {% assign photo = photos | where: "id", section.photo-id %}
            {% for photo in photo %}
              {% include components/photo.html ratio="16-9" %}
            {% endfor %}
          {% else %}
            <div class="bg-img bg-img--16-9" style="background-image:url({{site.baseurl}}/img/content/{{page.group}}/pois/{{section.title|slugify}}.jpg);"></div>
          {% endif %}
        </div>

        <div class="bob__text">
          <h3 class="title title--md title--bold">{{section.title}}</h3>
          {{section.content}}
        </div>
      </div>
    {% endfor %}

  </div>

</section>





{% for section in page.sections %}
  <section class="bg--white vpad-top--md{% if forloop.last %} vpad-bottom--xl{% endif %}" id="{{section.title|slugify}}">
    <div class="row row--padding text--center">
      {% unless forloop.first %}
      <hr class="hr--center hr--margin">
      {% endunless %}
      <h3 class="title title--xl title--bold title--upper title--kerning">{{section.title}}</h3>
      {{section.content}}
    </div>
    <div class="row row--padding row--4-4-4-gutters">
    {% for poi in section.pois %}
      <div class="poi col">

        <div class="poi__image">
        {% if poi.photo-id %}
          {% assign photo = photos | where: "id", poi.photo-id %}
          {% for photo in photo %}
            {% include components/photo.html ratio="16-9" %}
          {% endfor %}
        {% else %}
          <div class="bg-img bg-img--16-9" style="background-image:url({{site.baseurl}}/img/content/{{page.group}}/pois/{{poi.id}}.jpg);"></div>
        {% endif %}
        </div>

        <div class="poi__content">
          <h5 class="title title--xxs title--bold">{{poi.title}}</h5>
          <p>{{poi.content}}</p>
        </div>

      </div>
    {% endfor %}
    </div>
  </section>
{% endfor %}

