---
layout: default
---
{% assign photos = site.data[page.group] %}
<div class="page__content">



  <section class="bg--white vpad-bottom--xl">

    <div class="row row--padding">

      {% for section in page.feature-sections %}
        <div class="bob">

          <div class="bob__image">
            {% assign photo = photos | where: "id", section.image %}
            {% for photo in photo %}
              {% include components/photo.html %}
            {% endfor %}
          </div>

          <div class="bob__text">
            <h3 class="title title--md title--bold">{{section.title}}</h3>
            {{section.content}}
          </div>
        </div>
      {% endfor %}

    </div>

  </section>




  <section class="bg--white vpad-top--xl">

    {% for section in page.poi-sections %}
      <div class="row row--padding text--center">
        <h3 class="title title--md title--bold">{{section.title}}</h3>
        <p class="text--lg">{{section.content}}</p>
      </div>
      <div class="row row--padding row--4-4-4-gutters vpad-bottom--xl">
      {% for poi in section.pois %}
        <div class="col">
          <div class="bg-img bg-img--16-9" style="background-image: url();"></div>
          <h5 class="title title--xs title--bold">{{poi.title}}</h5>
          <p>{{poi.content}}</p>
        </div>
      {% endfor %}
      </div>
    {% endfor %}

  </section>



</div><!-- END .page__content -->



