---
layout: default
---
{% assign photos = site.data.iceland | concat: site.data.morocco | concat: site.data.new-york %}
<div class="page__content">



  <div class="section bg--light-grey">
    <div class="row row--padding">
      <div class="row row--xl text--center">

        <p class="text--lg">{{page.intro}}</p>

        {% for section in page.sections %}
        <a class="btn btn--primary" href="#{{section.title | slugify}}">{{section.title}}</a>
        {% endfor %}

      </div>
    </div>
  </div>



</div><!-- END .page__content -->



{% include modal/modal-gallery.html type="carousel" %}