---
layout: default
---
{% assign photos = site.data[page.group] %}
<div class="page__content">



  {% for section in page.sections %}
  <section class="section text--white {% cycle 'bg--darkest-grey','bg--darker-grey' %}" id="{{section.title | slugify}}">

    <div class="row row--padding vpad--xxl">
      <span class="title title--super title--xxs title--kerning">{{section.time}} | {{section.coordinates}}</span>
      <h2 class="title title--xxl title--bold title--upper title--kerning">{{section.title}}</h2>
      {{section.content}}
    </div>

    {% for item in section.items %}
      {% assign photo = photos | where: "id", item.id %}
      {% for photo in photo %}

        <div class="row row--7-5-gutters row--valign" id="{{ item.id }}">

          <div class="col">
            {% include components/photo.html ratio="4-3" %}
          </div>

          <div class="col">
            <h3 class="title title--sm title--bold">{{photo.title}}</h5>
            <h5 class="title title--xxxs title--upper title--kerning"> Photo by <span class="title--bold">{{photo.photographer}}</span></h5>
            <p>{{photo.content}}</p>
          </div>

        </div>
      {% endfor %}
    {% endfor %}

  </section>
  {% endfor %}



</div><!-- END .page__content -->



