---
layout: default
id: offers
title: Offers
nav-order: 6

intro: >
  <p class="text--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At necessitatibus consequatur ex saepe tempore quia odio debitis omnis neque molestiae eos eius vitae temporibus.</p>
  <p>Charum repellat explicabo quam quos labore optio veniam, molestias in nesciunt, quod numquam. Et dolor tempore, ex minus delectus, hic nemo officiis illo ullam. Tempora, consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quibusdam reiciendis atque autem est dolorum quos, ad dignissimos iste amet voluptate laudantium saepe? Commodi, quasi, asperiores. Est consequatur repellat magnam.</p>

---
{% assign photos = site.data.iceland | concat: site.data.morocco | concat: site.data.new-york %}
<div class="page__content">



  {% include page/intro.html %}



  <section class="section">
    <div class="row">
      {% include components/offers.html %}
    </div>
  </section>



  <section class="section offer-promo">
    <div class="offer-promo__bgs">
      <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/01.jpg')"></div>
      <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/02.jpg')"></div>
      <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/03.jpg')"></div>
    </div>
    <div class="row row--xxl offer-promo__content text--white">
      <h2 class="title title--core title--lg title--color title--light title--expanded">That’s not all we do...</h2>
      <p class="text--lg">Didn’t see anything to take your fancy? Well, we have loads more offers with savings of up to 70%!</p>
      <a href="https://www.secretescapes.com/current-sales" class="btn btn--orange">See All Current Sales</a>
    </div>
  </section>



</div><!-- END .page__content -->

