


{% assign modal-items = site.data.iceland | concat: site.data.morocco | concat: site.data.new-york %}
{% assign modal-videos = site.data.videos %}



<div class="js-modal modal is-closed">
  <div class="js-close-modal modal__close"></div>

  <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
  <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>

  <div class="modal__wrap">

    {% for item in modal-items %}
    <div
      class="modal__item modal__item--{{item.id}} is-closed"
      id="modal-{{item.id}}"
      data-group-page="{{item.page}}"
      data-group-section="{{item.section}}">

      {% if item.orientation %}
        {% include modal/content/photo.html %}
      {% endif %}

    </div>
    {% endfor %}

    {% for item in modal-videos %}
    <div
      class="modal__item modal__item--video modal__item--{{item.id}} is-closed">
      {% include modal/content/video.html %}
    </div>
    {% endfor %}

  </div>

</div>
