

{% if page.id == 'overview' %}
  {% assign modal-items = site.data.videos %}
{% elsif page.layout == 'group' %}
  {% assign modal-items = site.data.videos | where:'location',page.id %}
{% elsif page.layout == 'guide' %}
  {% assign modal-items = site.data.videos | where:'group','inspire' %}
{% elsif page.layout == 'journey' %}
  {% assign modal-items = site.data.videos | where:'group','bts' %}
{% endif %}


<div id="modal-video" class="js-modal modal is-closed{% if include.type == 'carousel' %} modal--carousel{% endif %}">
  <div class="js-close-modal modal__close"></div>

  {% if include.type == "carousel" %}
  <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
  <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>
  {% endif %}

  <div class="modal__wrap">

    {% for video in modal-items %}

    <div class="modal__item modal__item--{{video.id}} is-closed" id="modal-{{video.id}}" data-content-category="{{video.group}}">
      <div class="modal__content">

        <div class="modal__content__video bg-img bg-img--16-9">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{video.video-id}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>

      <div class="modal__cta text--center">
        <a href="{{site.baseurl}}/{{video.location}}/the-journey" class="btn btn--large btn--primary">Continue the journey</a>
      </div>

    </div><!-- end modal__item -->

    {% endfor %}

  </div>

</div>