

{% if page.layout == 'journey' or page.layout == 'guide' %}
  {% assign modal-items = site.data[page.group] %}
{% else %}
  {% assign modal-items = site.data.iceland | concat: site.data.morocco | concat: site.data.new-york %}
{% endif %}


<div id="modal-photo" class="js-modal modal is-closed{% if include.type == 'carousel' %} modal--carousel{% endif %}">

  <div class="js-close-modal modal__close"></div>

  {% if include.type == "carousel" %}
  <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
  <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>
  {% endif %}

  <div class="modal__wrap">

    {% for photo in modal-items %}

      <div class="modal__item modal__item--{{photo.id}}{% if photo.ratio == '3-2' photo.ratio == '4-3' or photo.ratio == '9-16' or photo.ratio == '9-21' %} row--xxl{% else %} row--xxxl{% endif %} is-closed" id="modal-{{photo.id}}" data-content-category="{{photo.location | slugify}}">



        {% if
          photo.ratio == "9-21" or
          photo.ratio == "9-16" or
          photo.ratio == "3-4" or
          photo.ratio == "2-3" %}

          {% include modal/modal-content-portrait.html  %}

        {% else %}

          {% include modal/modal-content-landscape.html  %}

        {% endif %}

      </div>

    {% endfor %}

  </div>

</div>