

{% if page.id == 'overview' %}
  {% assign modal-items = site.data.videos %}
{% elsif page.layout == 'group' %}
  {% assign modal-items = site.data.videos | where:'location',page.id %}
{% elsif page.layout == 'guide' %}
  {% assign modal-items = site.data.videos | where:'group','inspire' %}
{% elsif page.layout == 'journey' %}
  {% assign modal-items = site.data.videos | where:'group','bts' %}
{% endif %}


<div id="modal-video" class="js-modal modal is-closed{% if include.type == 'carousel' %} modal--carousel{% endif %}">
  <div class="js-close-modal modal__close"></div>

  {% if include.type == "carousel" %}
  <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
  <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>
  {% endif %}

  <div class="modal__wrap">

    {% for video in modal-items %}

    <div class="modal__item modal__item--{{video.id}} is-closed" id="modal-{{video.id}}" data-content-category="{{video.group}}">
      {% include modal/content/video.html %}
    </div><!-- end modal__item -->

    {% endfor %}

  </div>

</div>